.App {
  width: 100px;
  margin: auto;

  box-shadow: 0px 0px 20px 0px #aaa;
}

.Display {
  width: 100px;
  color: white;
  background: #1c191c;
  line-height: 50px;
  font-size: 2em;
  text-align: center;
}

.Reset button {
  color: white;
  background: #d45f11;
  line-height: 40px;
  font-size: 1em;
}

button {
  display: block;
  width: 100px;
  line-height: 25px;
  background: none;
  border: none;
  padding: 0;
  font-family: inherit;
  cursor: pointer;
}

button:active {
  box-shadow: inset 0px 0px 80px 0px rgba(0, 0, 0, 0.25);
}
